.sgt_wrap{
    width: 100%;
    overflow: hidden;    display: flex;
    flex-direction: column;
}
.top_img{
    background: url(/image/way_to_come/w_t_C_bg.jpeg)no-repeat center;
    z-index: -99;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: end;
}
.top_img h2{
    color: #fff;
    font-size: 48px;
    font-weight: 600;
    margin-left: 200px;
    margin-bottom: 50px;
    letter-spacing: -2px;
    text-shadow: 0 5px 15px rgb(0 0 0 / 40%);
}
.contents_tab {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    border-bottom: 1px solid #7f7f7f;
}
.contents_tab_li {
    display: grid;
    color: #8e8e8e;
    font-weight: 700;
    height: 55px;
    align-items: center;
}
.contents_tab a {
    margin-left: -1px;
    width: 100%;
    height: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #8e8e8e;
    text-align: center;
    text-decoration-line: none;
}
.contents_tab #on{
    border-bottom: 5px solid #0a1645; 
}
.contents_tab #on a{
    color: #0a1645;
}

.contents_tab #on a{
    color: #0a1645;
}
#tab_bar {
    border-right: 1px solid #7f7f7f;
}
.tab_menu:hover{
    color: #0a1645;
    height: 20px;
}
.contents_tab_li:hover {
    border-bottom: 5px solid #0a1645;
}

h3{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    color: #0e1f61;
    font-weight: 600;
}

.map{
    background: url(/image/way_to_come/pic_map01.png)
    no-repeat center;
    background-size: cover;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.map> a{
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
    justify-content: center;
}
.map > a > img{
    width: 404px;
    height: 335px;
    position: relative;
    left: 150px;
    top: 10px;
}
.table-wrap{
    display: flex;
    justify-content: center;
}
.grid-table{
    display: grid;
    grid-template-columns: 200px 800px;
    width: 1000px;
    margin-bottom: 50px;
    color: #565656;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: -1px;
}
.grid-table > div{
    border-top: 1px solid rgb(230, 230, 230);
    border-left: 1px solid rgb(230, 230, 230);
    padding: 20px;
}

.grid-table > div:nth-child(odd){
    border-left: none;
}
.grid-table > div:nth-child(9),
.grid-table > div:last-child{
    border-bottom: 1px solid rgb(230, 230, 230);
}
.grid-table > div .circle{
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    margin-right: 5px;
    color: #fff;
}
.bus_g{
    background-color: darkblue;
}
.bus_b{
    background-color: rgb(22, 180, 22);
}

.thcolor{
    background-color: rgb(248, 248, 248);
    font-weight: 500;
}