section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.forums_head {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(/image/forums/forum_main.jpeg);
}

.forums_head_txt {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 220px;
    right: 220px;
    bottom: 60px;
    z-index: 3;
    text-align: left;
    visibility: visible;
    margin-bottom: 10px;
    font-size: 3em;
    color: white;
    font-weight: bold;
}
.forums_tap{
    width: 100%;
}
.blank {
    width: 100%;
    border-right: 1px solid black;
}
.forums_tap_detail{
    text-align: center;
}
.forums_tap_detail_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    height: 59px;
    background-color: #fff;

}
.forums_tap_detail_text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60px;
    border-bottom: 1px solid #0a1645;
}

#on {
    border-bottom: 5px solid #0a1645;
}

#on a {
    color: #0a1645;
}


.forums_tap_detail_text a{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    margin-left: -1px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    height: 50%;
    width: 100%;
    line-height: 58px;
    color: #8e8e8e;
    
    border-right: 1px solid #7f7f7f;
    
}

.forums_tap_detail_text:hover {
    border-bottom: 5px solid #0a1645;
}
.forums_tap_detail_text a:hover {
    color: #0a1645;
}

.forums_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.forums_lists{
    margin-top: 50px;
    padding: 50px 250px 25px;
}
.forum_lists_all{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}
.forums_list{
    display: flex;
    flex-direction: column;
    width: 26%;
    margin-top: 150px;
    margin-left: 50px;
}
.forums_list_img_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.forums_list_img_wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.forums_list_img_agree{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.forums_list_img_title_argee{
    text-align: end;
    margin: 0 50px 10px 0px;
    color: #2079b8;
    font-weight: bold;
    font-size: 1.1em;
}
.forums_list_img_box img{
    width: 100%;
}


.forums_list_img_aginst{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.forums_list_img_title_aginst{
    text-align: start;
    margin: 0 0 10px 35px;
    color: #d7485b;
    font-weight: bold;
    font-size: 1.1em;
}

.count_bar{
    width: 100%;
    display: flex;
}
progress {
    -webkit-appearance: none;
}

::-webkit-progress-bar {
    /* height: 4px; */
    border: none;
    outline: none;
    background-color: #d7485b;
    height: 47px;
    width: 100%;
}

::-webkit-progress-value {
    background-color: #2079b8;
}

.forums_list_img_num_argee{
    width: 25%;
    height: 47px;
    background-color: #2079b8;
    font-weight: bold;
    color: white;
    padding: 10px 10px 10px 20px;
}

.forums_list_img_num_aginst{
    width: 25%;
    height: 47px;
    background-color: #d7485b;
    font-weight: bold;
    color: white;
    text-align: end;
    padding: 10px 20px 10px 10px;

}

.forums_list_textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 40px 30px;
    background-color: #dceaff;
    border-bottom: 4px solid #0b1745;
    
}
.forums_list_text_title {
    text-align: center;
    font-size: 1.3em;
    color: #0b1745;
    overflow: hidden;
}
.forums_list_textbox span {
    text-align: center;
    margin: 10px 0px;
    font-size: 1em;
    color: #7b8ba2;
    border-left: 1px solid #7b8ba2;
    margin-left: 5px;
    padding-left: 8px;

}
.forums_list_text_{
    color: #0b1745;
}
.forums_list_text_bottom{
    width: 100%;
    text-align: end;
    position: relative;
    top: 20px;
    font-size: 0.9em;
    color: #7B8BA2;
}

.forums_text_a {
    color: black;
}

#forums_text_detail:hover {
    text-decoration: underline;
}

.suggest_btn{
    background-color: #0b1745;
    height: 61px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 261px;
    margin: 80px 0px;

}
.suggest_btn a{
    color: #fff;
}
.form_control{
    display: flex;
    flex: row;
    gap: 3px;
}

.search_ip {
    font-size: 14px;
    border: 1px solid #CCCCCC;
    width: 216px;
    height: 34px;
    padding: 5px 10px;
}

.search_btn {
    font-size: 13px;
    background-color: #082e59;
    color:#FFFFFF;
    border-style: none;
    height: 34px;
    padding: 0px 20px;
    margin: 0;
}

.paging {
    margin-top: 40px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap-paging-btn {
    display: flex;
    width: 100%;
    justify-content: center;
}

.paging-btn {
    display: flex;
    justify-content: center;
    margin: 0px 5px;
}
.paging-btn a {
    text-align: center;
    display: block;
    width: 38px;
    min-width: 28px;
    height: 38px;
    min-height: 28px;
    padding: 8px 0px;
    margin: 0px 5px;
    border: 1px solid rgb(230, 230, 230);
    font-size: 14px;
    font-weight: 400;
    color: rgb(32, 31, 45);
    cursor: pointer;
}
.now-paging {
    border: 1px solid rgb(8, 46, 89)!important;
    color: rgb(255, 255, 255)!important;
    background-color: rgb(8, 46, 89)!important;
}
.paging-btn-next {
    margin: 0px 5px;
}
.paging-btn-next a {
    display: block;
    text-align: center;
    width: 50px;
    min-width: 38px;
    height: 38px;
    min-height: 28px;
    padding: 8px 0px;
    margin: 0px 5px;
    border: 1px solid rgb(230, 230, 230);
    font-size: 14px;
    font-weight: 400;
    color: rgb(32, 31, 45);
    cursor: pointer;
}

.wrap-paging-btn a:hover {
    background-color: black;
    border: 1px solid black;
    color: white;
}